<div class="container">
  <app-loading *ngIf="loadingReleases"></app-loading>
  <app-card
    [movies]="releases | slice: 0:6"
    title="Últimos lanzamientos"
    *ngIf="releases && !loadingReleases"
  ></app-card>
  <app-loading *ngIf="loadingPopular"></app-loading>
  <app-card
    [movies]="popular | slice: 0:6"
    title="Populares"
    *ngIf="popular && !loadingPopular"
  ></app-card>
  <app-loading *ngIf="loadingPopularKids"></app-loading>
  <app-card
    [movies]="popularKids | slice: 0:6"
    title="Populares niños"
    *ngIf="popularKids && !loadingPopularKids"
  ></app-card>
</div>
