<div class="container main-container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text fa fa-search" id="basic-addon1"></span>
        </div>
        <input
          [(ngModel)]="term"
          name="term"
          type="text"
          class="form-control"
          placeholder="Buscar película..."
          aria-label="movie"
          aria-describedby="basic-addon1"
          (keyup)="search()"
        />
      </div>
    </div>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <div
    *ngIf="
      !loading && term.length > 0 && _moviesService.moviesSearched.length === 0
    "
    class="alert alert-info animated fadeIn"
  >
    <h3>No se encontraron resultados para "{{ term }}"</h3>
    <p>
      Asegúrese de que sus palabras estén escritas correctamente o use menos
      palabras clave o diferentes.
    </p>
  </div>

  <div
    class="row animated fadeIn fast"
    *ngIf="_moviesService.moviesSearched && !loading && !errorActivate"
  >
    <div class="card-columns m-5 animated fadeIn">
      <div
        class="card cursor-pointer"
        *ngFor="let movie of _moviesService.moviesSearched"
        [routerLink]="['/movie', movie.id]"
      >
        <img
          class="card-img-top img-fluid"
          [src]="movie | movieImage"
          [alt]="movie.original_title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text text-justify" *ngIf="movie.overview.length > 0">
            {{ movie.overview | slice: 0:250 }}...
          </p>
          <p class="card-text text-justify" *ngIf="movie.overview.length === 0">
            Sin descripción
          </p>
          <button
            type="button"
            class="btn btn-outline-primary btn-block"
            [routerLink]="['/movie', movie.id]"
          >
            Ver más...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
